.cartStyle{
background: #000;
font-size: 16px;
}
.cardList{
display: flex;
flex-wrap: wrap;
gap:15px;
justify-content: flex-start;
}
.cardItem{
    width:22%;
    min-width: 210px;
    min-height: 420px;
    /* height:300px; */
    /* margin-bottom: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-img{
     width:100%;
     height:100%;
     object-fit: cover;
     flex-shrink: 0;
}
.imgContainer{
    margin:auto;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.cardContent{
flex:1;
display: flex;
flex-direction: column;
min-height: 210px;
padding-bottom: 5px;
justify-content: center;
}
.cardContent__Top{

}
.cardContent__Bottom{
margin-top: auto;
margin-left: auto;
margin-right: auto;
}
.btnAomacanada{
z-index: 2;
/* background: red; */
/* display:hidden; */
top: 100%;
right:-100%;
transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
    .cardItem{
        width:45%;
    }
}
@media screen and (max-width:576px){
    .cardItem{
    width:100%;
    align-items: center;
    /* text-align: center; */
    }
}

